body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.logo {
  color: rgba(255,255,255,0.8);
  margin-left: .5em;
  align-self: flex-start;
}

.about {
  display: flex;
  justify-content: center;
  font-size: 1.1em;
}
.about p {
  font-size: .9em;
}

.pairings {
  font-size: 16px;
}

.getFood {
  display: flex;
  align-items: center;
}

.logos {
  display: flex;
}

.plus-logo {
  width: 175px;
  height: 115px;
  /*margin-left: 2%;*/
}

.images {
  display: flex;
  justify-content: flex-end;
}

input#foodInput.validate {
  border-bottom: 1px solid #ff7043;
  box-shadow: 0 1px 0 0 #ff7043;
}
label.active {
  color: #ff7043 !important;
}
. button {
  display: flex;
}
.foodBtn {
  justify-content: flex-start;
}

.clearBtn {
  justify-content: flex-end;
}
